---
plugin: aws_ec2
regions:
  - us-east-1
filters:
  tag:Environment: dev
  instance-state-name: running

keyed_groups:
  - key: tags.Role
    prefix: role
  - key: tags.Environment
    prefix: env
  - key: placement.availability_zone
    prefix: az

hostnames:
  - tag:Name
  - dns-name

compose:
  ansible_host: public_ip_address
